header{
    background-color:rgb(114 178 251);
    background-image: url("../img/logo.svg"),  url("../img/pattern.png");
    background-position: 0.6% 70%, 6.2% 0%;
    background-repeat: no-repeat, repeat;
    background-size: 15rem, 30rem;
    height: 8rem;
    }
