header{
    background-color:rgb(114 178 251);
    background-image: url("../img/logo.svg"),  url("../img/pattern.png");
    background-position: 0.6% 70%, 6.2% 0%;
    background-repeat: no-repeat, repeat;
    background-size: 15rem, 30rem;
    height: 8rem;
    }

h1{
    font-size: 3rem;
    display: inline;
    }

    
.credits{
    font-size: 1.2rem;    
    }


.colorgrey{
    color: gray;
    }

.coloraqua{
    color: aqua;
    }

.separator{
    height: 2rem;
}

.coloryellow{
    background-color: yellow;
}

.tablehead{
    background-color: aqua;
    color: white;
}

.firstrow{
    background-color: lightskyblue;
}

.thirdrow{
    background-color: lightskyblue;
}

.thirdth{
    text-align: left;
}

.container{
    height: 13rem;
    width: 17rem;
    color: white;
    font-size: 1.8rem;
}

#monitor{
    background-image: url(../img/monitor.jpg);
}

#graph{
    background-image: url(../img/graph.jpg);
}